<div class="card">
    <h4 class="card-header">
        <i class="fa fa-info" aria-hidden="true"></i>
        Error:404
    </h4>
    <div class="card-body">
        <h1 class="card-title">Error:404</h1>
        <p class="card-text">Error.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>